<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy;ChibiChow.com 2015. </span><a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>
            <div class="col-md-4 social">
                <ul class="list-inline">
                    <li><a href="http://www.facebook.com/pages/ChibiChow/643767749089972"><i class="fa fa-lg fa-facebook"></i></a></li>
                    <li><a href="http://twitter.com/Chibi_Chow"><i class="fa fa-lg fa-twitter"></i></a>
                    </li>


                    <li><a href="http://www.pinterest.com/chibichow/"><i class="fa fa-lg fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Aviso de Privacidad</a>
                    </li>
                    <li><a href="#">Términos y Condiciones</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>

