<header>

  <div class="wrapper">

    <nav class="navbar navbar-default navbar-shrink navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo-container">
                    <a href="#page-top"><img src="/media/ChibiChow_Logo_Slim_White_120x63.png"></a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{ site.baseurl }}"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#informacion">Información</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#portfolio">Ingredientes</a>
                    </li>
                    <li>
                    <a class="page-scroll" href="/#comprar">Comprar</a>
                </li>
                    
                    <li>
                        <a class="page-scroll" href="/#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contacto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/index.html">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

</header>
