<!-- Social Icons -->
<div class="social text-center">
    <ul>
        <li><a href="http://www.facebook.com/pages/ChibiChow/643767749089972"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/Chibi_Chow"><i class="fa fa-lg fa-twitter"></i></a></li>
        <li><a href="http://www.pinterest.com/chibichow/"><i class="fa fa-lg fa-pinterest"></i></a></li></ul></div>
<br>
<!-- Latest posts -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Lo último</h4>
    </div>

    <ul class="list-group">
        {% for post in site.posts limit: 5 %}
        <li class="list-group-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- Categories -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Categorías</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Nutrición</a></li>
        <li class="list-group-item"><a href="#">ChibiChow</a></li>
        <li class="list-group-item"><a href="#">Retos Saludables</a></li>
        <li class="list-group-item"><a href="#">Recetas</a></li>
        <li class="list-group-item"><a href="#">Testimonios</a></li>
    </ul>

</div>

</body>
</html>