<!-- Social Icons -->
<div class="social text-center">
    <ul>
        <li><a href="http://www.facebook.com/pages/ChibiChow/643767749089972"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/Chibi_Chow"><i class="fa fa-lg fa-twitter"></i></a></li>
        <li><a href="http://www.pinterest.com/chibichow/"><i class="fa fa-lg fa-pinterest"></i></a></li></ul></div>
<br>


<div class="well text-center">
    <h3 class="lead">
        <a class="page-scroll" href="{{ site.baseurl }}/archivo/index.html">Archivo</a>    </h3>
</div>
<!-- Latest posts -->


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Lo último</h4>
    </div>

    <ul class="list-group">
        {% for post in site.posts limit: 5 %}
        <li class="list-group-item"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>




<!-- Categories -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Categorías</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ site.baseurl }}/categories/nutricion/index.html">Nutrición</a></li>
        <li class="list-group-item"><a href="{{ site.baseurl }}/categories/chibichow/index.html">ChibiChow</a></li>
        <li class="list-group-item"><a href="{{ site.baseurl }}/categories/retos/index.html">Retos Saludables</a></li>
        <li class="list-group-item"><a href="{{ site.baseurl }}/categories/recetas/index.html">Recetas</a></li>
        <li class="list-group-item"><a href="{{ site.baseurl }}/categories/testimonios/index.html">Testimonios</a></li>
    </ul>

</div>
